[2020-04-04 01:36] kwcooper opened #4 "Copy map to people page, drop down"
@cbouy could copy your map to the people page of the website too?

Also, would you mind seeing if you could move the long list of countries on your form to a separate file that is called by the form to clean up the code a little? No worries if it becomes too much of a hassle.

Thank you! Great work!

[2020-04-04 01:38] kwcooper opened #5 "Github security complaints"
@cbouy Do you see that Github is warning us about a security issue?
If so, do you have any idea what this might be?

If not, I'll look into it!

Thank you!

[2020-04-04 03:10] kwcooper commented on #4
For the dropdown, you may want to use this script from SO https://stackoverflow.com/a/38037444 . I used it here: https://github.com/GCCR/GCCR.github.io/blob/master/people.html#L37
 and here: https://github.com/GCCR/GCCR.github.io/blob/master/people.html#L119

[2020-04-04 16:20] cbouy commented on #5
I don't see them, I think you need to give me write access to this repo in the settings. You might have to create a team for that.

[2020-04-04 16:34] cbouy commented on #4
Yes I'll take care of that ! Copying or moving ?

Regarding the "cleaning up the code", I'll start to implement Jekyll so that we can include html snippets and use templates for this very purpose. It will make the site much easier to maintain. I also need to modify the list of countries, it doesn't match the one used by the Google form.

Then I'll add a headless CMS (content management system) to

[2020-04-04 22:44] kwcooper commented on #5
I think I fixed it. Stay tuned. Curious you can't see it though, you should have full privileges for that repo..?

[2020-04-04 22:44] #5 closed

[2020-04-04 22:51] kwcooper commented on #4
Great thanks! I think copying would work for now, the map looks good on the homepage, but should also show where our members are from on the people page

I 100% agree. I really wanted to do this but haven't had too much time. I only didn't start with it because I didn't know how many pages we were going to want. 1 -3 is find but any more updating each one is tedious, thus completing the feeling th

[2020-04-08 16:28] cbouy opened #7 "Scripts to update the member's list and map"
Currently, the map is read from another [repo](https://github.com/GCCR/members-map), and for the list of members I did a quick regex on the [listOMems.html](https://github.com/GCCR/GCCR.github.io/blob/master/listOMems.html) to convert it to the YAML format in [_data/members.yml](https://github.com/GCCR/GCCR.github.io/blob/dev/_data/members.yml). Both map and list are generated from the same excel

[2020-04-08 17:18] cbouy opened #8 "Membership form"
@GCCR/website The membership form apparently isn't working, and we can't rely on a Google form because Google is blocked in some countries. For now, we should probably just show a popup with the info and ask to copy-paste and send to the GCCR mail address, or even quicker is [this](https://stackoverflow.com/questions/4782068/can-i-set-subject-content-of-email-using-mailto). I know it's old-school

[2020-04-08 17:51] cbouy opened #9 "News posts"
I'm planning to implement [Publii](https://getpublii.com/) support to the website so that people can easily write posts without having to learn how markdown works, understand the structure of the website, where to put images...etc.

Their are also a few other improvements to make (code suggestions [here](https://blog.webjeda.com/jekyll-categories/)):
- add the ability to assign categories/tags to

[2020-04-08 19:00] mariaveldhuizen commented on #7
If i can make this process easier let me know. I'm new to github, but I need to learn.

[2020-04-09 08:00] kwcooper commented on #4
This is superseded by the issue #6

[2020-04-09 08:00] #4 closed

[2020-04-09 08:05] kwcooper commented on #7
So I used a python script to generate the original member's list file (I hope you don't think that I typed that... )

In short it takes the members excel, strips the people, and spits out the formatted table of members. I can upload it as a starting point.

@cbouy will then have to then further modify it to fit whatever formatting his map needs. I doubt this will take much work, though I am naive

[2020-04-09 08:15] kwcooper commented on #7
... annnnd done: https://github.com/GCCR/GCCR.github.io/blob/master/scripts/parse_mems.py#L1

I was in a rush, so it's just the bare minimum. I just had it build a txt file of the members. My dream was to have it build the whole file mems.html, which again really wouldn't be too hard, but I was in a rush trying to do other things that day.

It should speak for itself, but as always, happy to answe

[2020-04-09 08:51] kwcooper commented on #8
TLDR; We need to think about this some more.

So my quick and dirty solution for the contact form (literally realized this error the night before the launch), was to use a third party service.

You may know this, but since this is general limitation with the entire site that we'll have to keep in mind, let me offer explanation on why:

Github only supports static pages (this means no dynamic page

[2020-04-09 12:32] cbouy commented on #8
This looks interesting: [https://github.com/dwyl/learn-to-send-email-via-google-script-html-no-server](https://github.com/dwyl/learn-to-send-email-via-google-script-html-no-server). Basically using a Google spreadsheet as a database.

2 problems though:
* won't work in countries that block Google (but we can always fall back to emails for this)
* not secured (but it will be the case for all "stati

[2020-04-09 14:18] kwcooper commented on #8
I love hacky solutions like this. If there's a will there's a way.

Yeah, this echo's my first thought from the outset: Google form. Makes perfect sense except for the blocking.
BUT... on second thought... how many countries really block google?  https://techcrunch.com/2010/04/19/google-censorship/
(Answer: 25)

Something I initially wondered is if we just use the google form and then say if the c

[2020-04-10 12:25] cbouy commented on #8
As discussed during our meeting, I'll implement a formspree for the time being

Edit: the new form is live. I didn't implement the fields for gender, minority, and job/occupation yet for reasons mentioned in issue #10 : people might not be comfortable with a third party (formspree) having this information. I'm removing the !urgent and bug tags for now

[2020-04-10 12:30] cbouy commented on #7
checklist for me:
- [x] capitalize members names automatically
- [x] add conda environment (already in the map repo)
- [x] add instructions on how to install the dependencies and run the script
- [x] make debugging common problems easier (and log duplicated entries and empty rows)
- [x] output number of members, number of countries
- [x] add the map generation script
- [x] add the members list YML

[2020-04-10 17:34] cbouy opened #10 "Legal concerns"
As mentioned Thursday by Keiland, their are a few important things to consider when running a website that has Google Analytics (to track the number of users, what kind of device they use, from which country...etc), as well as forms (both contact and membership), because we are collecting, or allowing a third-party to collect data. For this to be done we must ensure that we are GDPR compliant:
- [

[2020-04-11 03:46] kwcooper commented on #9
I like all of these. I'll teach myself Publii after we move to Jekyll and help out with these.

[2020-04-11 03:48] kwcooper opened #12 "update banner and logos"
I'll do this, just keeping it here so I remember.

[2020-04-11 10:34] kwcooper commented on #10
Given this is more of a Meta issue, involves more of the leadership team, and has potential  vulnerabilities. I think we should take this to the slack. @cbouy can you copy and paste it there? We can reopen here if we feel that it's better suited.

[2020-04-11 10:34] #10 closed

[2020-04-11 21:25] cbouy commented on #7
Script updated in the dev branch (with instructions): [https://github.com/GCCR/GCCR.github.io/tree/dev/_scripts](https://github.com/GCCR/GCCR.github.io/tree/dev/_scripts)
I'll close the issue.

[2020-04-11 21:26] #7 closed

[2020-04-14 03:34] kwcooper opened #13 "None of the page links work"
On the jekyl site.

[2020-04-14 03:42] kwcooper commented on #13
Phew, no worries I got it

[2020-04-14 13:32] cbouy commented on #13
It's weird, it worked (and still works) both with the `.html` extension or with `/` instead on my local environment...
But looking further in the `_site` folder (where jekyll actually builds the files that will be served by the website), jekyll builds the .html files (i.e. members.html) instead of folders (i.e. members/index.html). Since in the navbar I was using the "folder" links (ending with `/

[2020-04-14 14:24] #13 closed

[2020-04-15 17:59] mariaveldhuizen opened #14 "update COC"
[GCCR_Code of conduct.docx](https://github.com/GCCR/GCCR.github.io/files/4482889/GCCR_Code.of.conduct.docx)

[2020-04-15 22:18] kwcooper commented on #14
Done!

[2020-04-15 22:18] #14 closed

[2020-04-15 22:19] kwcooper opened #15 "Update website home design"
And change the Global Cons... header text..

[2020-04-15 22:21] kwcooper commented on #9
Now that Jekyll is sailing so smoothly (I'm kicking myself for not doing this earlier, thanks again and again Cbouy), where are we will Publii integration for blog posts (especially if we hit a wave of press coverage?)
Anything you need my help with?

[2020-04-15 22:21] kwcooper commented on #12
Just waiting on some more images and then I can push this

[2020-04-15 22:23] kwcooper commented on #8
I think formspree is working pretty well. (Let me know if this isn't true) How badly do we need the other fields? Maybe an internal survey will be a better route. (More inclusive to privacy concerns and better for an "opt in" approach)

[2020-04-16 13:34] mariaveldhuizen commented on #15
align text left, take out italics

[2020-04-16 16:07] cbouy commented on #12
@kwcooper I've already added this logo ![assets/img/logo_draft_white.jpg](https://github.com/GCCR/GCCR.github.io/blob/master/assets/img/logo_draft_white.jpg?raw=true) (in assets/img/logo_draft_white.jpg) as the twitter summary card (the image shown on a tweet when someones shares the link to gcchemosensr.org). If you find another image to be more approriate, you can change this in the _config.yml

[2020-04-16 16:12] cbouy commented on #8
Since it's only for internal reporting I don't think we really need them on the form, but I'd prefer to have @mariaveldhuizen opinion before we decide something. As you suggest, another poll on slack might be a better option.

[2020-04-16 16:18] cbouy commented on #9
I tried it 2 days ago but didn't manage to connect it with my github account, I need to contact them about that. Also I'm not sure if we can use this only for blogposts and keep our own website theme. After installation, it looks like publii can only be used to build a website from scratch, I'm not sure if we can implement it on an already existing website... I'll get in touch with them and keep y

[2020-04-16 22:01] kwcooper opened #16 "Survey Page and Logic"
Hey all. So we're planning a bigger change to the site, being, a separate page for the survey. This was in planning in the beginning, but got pushed under the rug with everything else going on.

The logic is thus:
* Have one, simple landing page for survey takers to go to, then select their language.
* Selecting their language will take them to a language specific page with the links to the survey

[2020-04-17 07:10] mariaveldhuizen commented on #8
agree

[2020-04-17 13:02] cbouy commented on #16
Hey ! I'll take care of the Jekyll stuff:
* layout for the language page: do we really need the `srv-en` or can we stick to just `english` or `en` ?
* landing page with automatic creation of buttons (which go to the language page): the implementation will be slightly different from the YML file. More on that when I'm done.
* For "logic on the language page for survey links and social media" I gues

[2020-04-17 14:25] mariaveldhuizen opened #17 "request to embed/host video"
We are going to get a video that we want to have on the web page. I think hosting on youtube and embedding on the page is the way to go, agree? Just a heads up that we will be looking to embed that at some point.

[2020-04-17 15:09] mariaveldhuizen commented on #16
I think it would be good to have a navigation bar that allows going back to the "landing-page" for the different languages. In case someone bilingual changes their mind I guess :)

[2020-04-17 16:52] cbouy commented on #17
Yes youtube is the simplest option, and it's easy to embed on the website

[2020-04-17 19:15] cbouy commented on #16
I'm done with the Jekyll details, now I need some help with the content:
* Surveys are now stored in the [_surveys folder](https://github.com/GCCR/GCCR.github.io/tree/master/_surveys) and all the details are stored in a markdown files (`.md`). For now if we need to add new surveys will need to do it both here and in the survey-links.yml file, but once we are done with the transition we can get rid

[2020-04-17 20:15] vparmac commented on #16
Cedric, let me know how the page looks like and I can have the translation
file created.
Also here is the short bitly for French:  https://bit.ly/3a1A7b0

On Fri, Apr 17, 2020 at 3:15 PM Cédric Bouysset <notifications@github.com>
wrote:

--

*Valentina Parma, PhD*

Research Assistant Professor
Department of Psychology
Temple University
Weiss Hall, Room 874
1701 North 13th Street
Philadelphia, PA 1

[2020-04-18 13:37] cbouy commented on #16
Sorry for the late response, I would need translations for the following sentences/words:
* *LANGUAGE* survey (replace *LANGUAGE* by English, French, ...etc.)
* Hello!
* Participate in the GCCR study!
* Take the survey
* Share the survey
* The GCCR is a group of 600 scientists, clinicians, and patient advocates across 50 countries founded in response to the COVID-19 pandemic. Our goal is to collec

[2020-04-19 00:03] kwcooper commented on #16
I think it looks great! Thank you everyone, especially @cbouy for the jekyll logic he added to make it all more streamlined. In terms of naming, I kept the srv prefix as I anticipate that we may have other language specific pages in the future. But we can cross that bridge when we come to it.

For the share, we may include the icons that I have in the footer for ease of sharing across social media

[2020-04-19 00:09] kwcooper commented on #17
+1 to what Cedric said. Send me the link and I can add. We may want to be mindful of possible geographic restrictions though should they arise

[2020-04-19 05:21] mariaveldhuizen commented on #16
I"m following up on the translations

[2020-04-19 14:54] cbouy commented on #16
@kwcooper since the covid-19 surveys are all under the "surveys" folder (i.e [https://gcchemosensr.org/surveys/french/](https://gcchemosensr.org/surveys/french/) ) that shouldn't be a problem.
If we want to translate the home page it can go directly to https://gcchemosensr.org/fr/, and if we add the "home-testing" pages in the future we can have https://gcchemosensr.org/home-testing/french/. I thi

[2020-04-19 15:57] mariaveldhuizen opened #18 "created by..."
In the footer it should say who created the page and when. It's right to be acknowledged!

[2020-04-19 16:05] mariaveldhuizen commented on #16
https://forms.gle/iGRnobgUvTBRydNw7 check if there is more you want before I collect the information

[2020-04-20 06:12] kwcooper commented on #18
I like the idea, especially when the page was updated and who did it to keep track.

That said... Which pages? All of them? I fear it may be difficult to assign credit (ie. people are working on different aspects of the main page, back-end work vs content). If we begin to have more and more pages this will be more applicable IMO, especially when we have a blog or pages that are continually updated

[2020-04-20 06:18] kwcooper commented on #16
Great! @cbouy good points. maybe even name the pages by the language codes for a shorter (and more standardized) URL?

For the share button, I could play with using the accordion drop-down logic that I have used on the other pages. But frankly, I think just having a section with "Share the survey" with the relevant social media icons below would be just as good.

Lastly, we should add a link to th

[2020-04-20 19:09] mariaveldhuizen opened #19 "some new links to other tools"
Lyon Neuroscience Research Center website and questionnaire on quality of life and olfactory disorders (in French)
"website" linked to https://project.crnl.fr/odorat-info/, "quality of life and olfactory disorders" linked to https://form.crnl.fr/index.php/146862?newtest=Y&lang=fr

Can we also take the (GCCR) behind Noam Sobel's name out?

[2020-04-20 21:35] cbouy commented on #18
I agree with Keiland for most pages it's going to be difficult to say who is the author. But adding a page where we specify the role of each members would be great.
For blog posts the logic of specifying the author is already there.

[2020-04-20 22:12] cbouy commented on #16
I added more languages to [https://gcchemosensr.org/surveys/](https://gcchemosensr.org/surveys/) with language codes instead of the full name.
I managed to make a functional share button, tell me what you think ! The QR code is in there too.
I tested it on my pc and Android mobile:
* twitter, whatsapp, and the QR-code work on both pc and mobile
* facebook only works if you're logged in your browse

[2020-04-21 09:31] mariaveldhuizen commented on #16
Yes, following up!

[2020-04-21 09:51] Huitzilo opened #20 "Improvement suggestion: social network links for sharing"
I wonder whether it might be worthwhile replacing the "share survey" links by buttons for facebook, twitter, and a link?

[2020-04-21 09:57] mariaveldhuizen commented on #16
The languages that have their own pages already have been notified to check them. The languages that have a survey, but not their own pages yet have also been notified. I'll make a list of pending languages and start prodding them too

[2020-04-21 14:07] cbouy commented on #20
You mean displaying the social buttons directly instead of having to click on "share survey" ?

[2020-04-21 14:25] cbouy commented on #19
Done !

[2020-04-21 14:25] #19 closed

[2020-04-21 15:08] Huitzilo commented on #20
yeah, why not - this would make the available options obvious, without having to click a button that the user doesn't know where it leads.

[2020-04-21 18:37] cbouy commented on #20
I made the change and I added the social buttons on the landing page as well

[2020-04-21 18:39] cbouy commented on #16
I made a few changes to the layout of the landing page and language page as well (mostly the social buttons for sharing)

[2020-04-22 04:57] kwcooper commented on #20
I like this a lot!

[2020-04-22 04:57] #20 closed

[2020-04-22 19:00] cbouy commented on #16
I'm almost up-to-date with the current surveys: [https://gcchemosensr.org/surveys/](https://gcchemosensr.org/surveys/)
I'm only missing arabic and korean for the translations.

Should we regroup the buttons a little (3 per line like on the home page) ?

@mariaveldhuizen @vparmac if you have feedback on incorrect translations please tell me !

[2020-04-23 07:58] mariaveldhuizen commented on #16
Japan wants a new email: gccr.japan2@gmail.com
Feel free to comment on the Slack channel when you have already resolved some issues, so that I don't follow up unnecessarily.

The pages are looking good, all the buttons are great! Really well done

[2020-04-23 08:11] vparmac commented on #16
This is really great job everybody, thank you!
One question I had looking at the https://gcchemosensr.org/surveys/:
would it be possible to have the buttons in two columns? The bottom
languages have to scroll down a lot. Not sure if you have already discussed
this - if so apologies. If not, perhaps if Stephanie Feuer can be of help.

Once again, thank you!

Valentina

On Thu, Apr 23, 2020 at 3:58

[2020-04-23 13:11] cbouy commented on #16
Done!
* japan email changed
* traditional chinese button label changed
* "surveys" link added to the navigation bar
* buttons on 2 columns
* all surveys added to the sitemap for SEO

[2020-04-23 22:51] kwcooper commented on #16
Awesome awesome work everyone!
I updated the buttons a bit more, and a few minor updates around.
Great idea with the sitemap, super low priority, but do you think there is anyway that the update date can reflect when each of the pages are updated? I foresee google's algorithms picking up on full site updates pretty quickly.

What more is left to do on this? Can we close this issue soon?

[2020-04-23 22:52] kwcooper commented on #17
@mariaveldhuizen any updates on the video?

[2020-04-23 23:29] kwcooper commented on #9
Any news on news? I think it may be all the well if we just start with adding the markdown posts, as per the ease of Jekyll's interface, and resort to publii or an alternative should manually adding them get out of hand.

 In the code it seems that you have the blog post templates set up already, can we start sourcing them and add a new page to the website, or do you think there needs to be more w

[2020-04-24 13:42] cbouy commented on #16
From what I see, it's not possible with github-pages (there's a plugin but it's not whitelisted by github so we cannot install it).
There seem to be an interesting answer here though, by setting a git pre-commit hook (never used those tbh): [https://stackoverflow.com/a/33721446](https://stackoverflow.com/a/33721446).
I'll check if it's doable

PS: nice work on the buttons and the header, I love it

[2020-04-24 14:33] cbouy commented on #9
Yes, so we can use Publii for the blog section only, but they didn't give me directions on how to do so. I'll try but definitely not a priority. As you say, we can do it by hand for now, there's even a [docx to markdown converter](https://word2md.com/) to make it easier !
We can already use the news section, everything is ready [https://gcchemosensr.org/news/](https://gcchemosensr.org/news/). Just

[2020-05-04 15:56] mariaveldhuizen commented on #12
Can we try this banner?  Let me know if the fade needs to fade further to the left of the image if you want to keep a similar crop on the banner?
![banner_adjustments_fade](https://user-images.githubusercontent.com/41241688/80986141-d28d2680-8e38-11ea-8b6e-f5cd3bde8694.png)

[2020-05-04 15:58] mariaveldhuizen commented on #12
Change the GCCR home text in the top left of the banner to the “logo”, and make it bigger.  I have a black and a white version with transparent background with the exact same dimensions, so you can change color when capturing mouse. If you want I can also give grey or dark green if that looks better.
![logo_draft_logo_white](https://user-images.githubusercontent.com/41241688/80986439-3c0d3500-8e39

[2020-05-04 16:01] mariaveldhuizen commented on #12
On the right side of the banner we want our full name, but also a subheading sentence with words that are search engine optimized. “Scientists, clinicians and patient advocates conducting international studies on taste and smell.” With the faded banner this should be possible now. Probably in a dark grey colour. I would recommend verdana for the font.

[2020-05-04 16:06] mariaveldhuizen commented on #15
Here are some more requested specifics for the webpage in general :

 Colour
We want to stick to the green, because that is now our recognizable colour, but we are going to lighten the style up a bit. Make the buttons about 50% more transparent, so much lighter shade of green. Let’s see a sample.

Content

We want less text overall. Also less white space, because right now a lot of scrolling is ne

[2020-05-04 16:07] mariaveldhuizen opened #21 "COVID-19 projects page:"
Please remove the literature section, it is hopelessly outdated (already) and it’s probably too much work to keep up.Let’s just  refer to Pellegrino preprint and to the page that was created specifically for COVID-19 related research:  https://www.ncbi.nlm.nih.gov/research/coronavirus/

[2020-05-04 16:08] mariaveldhuizen opened #22 "Members"
Can we get the members alphabetically sorted by last name and/or by country?

[2020-05-04 16:09] mariaveldhuizen opened #23 "Surveys page"
Left align the flashing welcome message.

Confirm they are in the right place with a sentence like: “Have you had a respiratory illness of any kind recently? Willing to share a bit of information about your experiences? It’s easy and takes about 10 minutes.”

We don’t need to instruct people to select their language, the buttons do that already.

Make all buttons as wide as the longest word (Neder

[2020-05-04 16:10] mariaveldhuizen commented on #23
On each language page:
Everything left aligned.
“Share the survey” - bigger and/or lower, hard to see right now
Text about Penn State left align, “Penn State University in the United States of America”

[2020-05-04 16:12] mariaveldhuizen opened #24 "Blog"
I think that we are ready for a blog page where we can put small blurbs on GCCR and GCCR member outputs, like published papers, preprint, etc

[2020-05-06 14:48] cbouy commented on #22
The membership form only had a "Full name" field which was not necessarily filled in the "first name last name" order by members. So I can't order specifically by last name, only by full name.
Should I sort by country, then by full name ? Or keep as it is now (sorted by full name) ?

I could also add an interactive (sortable and searchable) table if necessary

[2020-05-06 14:51] cbouy commented on #21
We should also add the medRxiv preprint of GCCR001 when it's available online

[2020-05-06 14:52] mariaveldhuizen commented on #22
How about I parse the names, then we can do it :)

Sent from my iPhone

On May 6, 2020, at 17:48, Cédric Bouysset <notifications@github.com> wrote:

﻿

The membership form only had a "Full name" field which was not necessarily filled in the "first name last name" order by members. So I can't order specifically by last name, only by full name.
Should I sort by country, then by full name ? Or keep a

[2020-05-06 14:57] cbouy opened #25 "Sitemap automatic lastmod"
Goal:
Automatically update the sitemap's `lastmod` field for each page when it's actually updated.

From what I see, it's not possible with github-pages (there's a plugin but it's not whitelisted by github so we cannot install it).
There seem to be an interesting answer here though, by setting a git pre-commit hook (never used those tbh): https://stackoverflow.com/a/33721446.
I'll check if it's do

[2020-05-06 14:57] cbouy commented on #16
Closing this issue and opening issue #25 for the sitemap

[2020-05-06 14:57] #16 closed

[2020-05-06 15:00] cbouy commented on #24
The website is ready for this, we just need some content, either directly in markdown, or in a docx file.
Related to issue #9

[2020-05-06 15:06] cbouy commented on #15
For the map I can display the static image and load the interactive one only if the user clicks on the image (and a "Click on the image to load the interactive map")

[2020-05-06 15:09] cbouy commented on #22
Good luck with the 400+ rows to parse 😆

[2020-05-06 15:11] cbouy commented on #12
oops wrong issue reference, please ignore it!

[2020-05-06 17:27] mariaveldhuizen commented on #24
Great, let me get some content and can it be in GCCR contact google drive?

[2020-05-06 17:39] cbouy commented on #23
For the buttons as wide as the longest word that's quite a pain to do and i'm not sure about the look of buttons with left aligned text.
For the language pages, left-aligning everything looked quite bad, but it's more readable for the bottom text so I only kept that (or right-aligned for arabic, hebrew...etc).
The rest of your suggestions or done, except for the link to the home page/toolbar I'm n

[2020-05-06 21:43] kwcooper commented on #25
If you're taking this as a personal challenge then it would be super cool if a solution could be haked together, but please don't stess over it.
The precommit hook thread seems interesting, but I wonder if it will interfere with anything else? Is this the plugin you're talking about? https://github.com/jekyll/jekyll-sitemap

[2020-05-06 21:48] kwcooper commented on #23
Thanks for the suggestions. Particularly with the buttons and left align request I think the best solution would be to narrow the width of the page all together. Left align is great on small screen's but looks poor on wide ones. This should be accessible by modifying the div's that wrap the content in the page.

[2020-05-06 21:51] kwcooper commented on #23
For the home page suggestion, I suggest modifying the footer GCCR link to saying "GCCR Home" or something similar. We may also recreate the awesome links Cedric built that say "back to language selection" to do something similar. I think adding the toolbar would be out of scope for what these pages are trying to serve.

[2020-05-06 21:52] kwcooper commented on #23
I tried to update the share the survey font size a week ago or so, but couldn't find where in the codebase it was pulling from. @cbouy could you let me know for my sanity haha

[2020-05-07 18:25] cbouy commented on #24
Sure ! Just notify me when you're done

[2020-05-07 18:29] cbouy commented on #25
No this plugin is already installed but doesn't put any lastmod or priority field, that's why I had to switch to manually adding the sitemap file. The plugin is https://github.com/gjtorikian/jekyll-last-modified-at

[2020-05-07 18:31] cbouy commented on #23
@kwcooper have a look at [_sass/base/_mixins.scss](https://github.com/GCCR/GCCR.github.io/blob/master/_sass/base/_mixins.scss)

[2020-05-07 18:34] cbouy commented on #23
@kwcooper ignore my previous message, it's in [_includes/share-survey.html](https://github.com/GCCR/GCCR.github.io/blob/5be11354b7d5259233b5b73183833b149ca796e8/_includes/share-survey.html#L15)

[2020-05-11 07:56] tristramw-uk commented on #23
The landing page (main) and languages has the original, very short and not super informative text, "Participate in the GCCR study" (which only means something to us).
Could we replace that text with the already approved compuserve welcome page text (I know they will see it when they click through to the survey) but we want to encourage people to take the survey so they need to see it when they fir

[2020-05-11 10:21] tristramw-uk opened #26 "we now have slack invitation link that does not expire - for our welcome message"
I've managed to create a slack invitation link which does not expire.  Do use in our welcome/invitation message

https://join.slack.com/t/gccr-mql6351/shared_invite/zt-ebcwcjuc-hxq1KLa7b9V3ewJi1YyFNw

using advice from a reddit message
https://www.reddit.com/r/Slack/comments/e26mn8/automating_slack_invites/

[2020-05-11 13:45] cbouy commented on #23
I agree with Keiland, adding the navigation bar is outside of the original idea (guiding the general audience towards the survey, and chemosensory-related people towards the main website). I could add a "Who are we" or "About us" link just below the "Back to language selection" link. The link would go to the [Introduction](https://gcchemosensr.org/#intro) section of our home page, so they can see

[2020-05-17 20:10] kwcooper commented on #8
So what is needed to close this? Or can we go ahead?

[2020-05-17 20:15] kwcooper commented on #17
After the conversation today I think we got this

[2020-05-17 20:15] #17 closed

[2020-05-17 20:19] kwcooper commented on #9
This is great @cbouy ! @mariaveldhuizen would you mind asking leadership for some news posts to add (even past ones, maybe going through the GCCR twitter) to populate the page? This way people can see the old stuff that we've been up to too.

Also, when we tweet future news, we can link them to the news posts for the "full story" and drive more traffic.

[2020-05-17 21:06] kwcooper commented on #15
Okay, so I updated the homepage a bit. Cleaned up the introductions and aligned the twitter and the "how we started" section. Moved the map up higher so people can see it, and removed the text in the icons.

For now, I left the mission text when left aligned, because I think we can keep some of it (albeit thinned down) if we add a news section to the right of it. Once we have some content for the

[2020-05-17 22:05] kwcooper commented on #23
I worked on this page a smidge, mostly just to increase the font size of the share button and to add a link to the GCCR homepage, and minor updates.

@cbouy I still, for the life of me, cannot find the "Share the survey" text. I found where it is inherited, `{{ page.share_survey | default: defaults.share_survey }}` and updated that, but where do these pull from? This is now personal haha.

If we w

[2020-05-17 22:20] kwcooper commented on #24
@mariaveldhuizen did you ever get a chance to add content for the blog?

[2020-05-17 22:27] kwcooper opened #27 "Contact page"
I think it best that we pull the same page contact footers and add a contact page. This way, we can put the relative addresses for who folks should get in touch with, and the different pathways people should take to meet their needs (general inquiries, survey questions, membership, country heads, etc.)

@mariaveldhuizen would you mind bringing this up during the next meeting to get an idea for wha

[2020-05-17 22:54] kwcooper commented on #21
done.

[2020-05-17 22:54] #21 closed

[2020-05-17 23:01] #22 closed

[2020-05-17 23:04] kwcooper commented on #26
This is great. But do we have a public link to slack? I was under the impression that this was sent after people inquired about becoming a member.  Though I may be wrong.

[2020-05-18 06:15] tristramw-uk commented on #26
thanks K. Having a non-expiring link just means that the message sent to people enquiring about becoming a member does not need to be updated with a new link every 2 weeks.

[2020-05-18 09:12] cbouy commented on #8
I'll go ahead and close it

[2020-05-18 09:12] #8 closed

[2020-05-18 09:21] cbouy commented on #15
Looks great @kwcooper ! I'll update the color code of the members map to be green so it's more on par with the rest of the design.

[2020-05-18 09:38] cbouy commented on #23
They are all taken from the `_surveys` folder. For each language page, it takes the `share_survey` from the MD file directly, and for the landing page, since it's not built the same way (it's not a language page so there's no `page.share_survey`) it falls back to the `defaults.share_survey` where `defaults` corresponds to the `en.md`:
https://github.com/GCCR/GCCR.github.io/blob/0474ab7ee38e6149a8d

[2020-05-18 09:54] cbouy commented on #27
Yep good idea that would probably help in prioritizing the emails that we receive.

We would just have to remove the `{% include contact.html %}` from the default layout, change the link in data/navigation.yml from `#contact` to `/contact/`, and create the contact.html page in the root folder.

[2020-05-18 10:59] cbouy commented on #23
@kwcooper is there a reason why the English welcome message appears 2 times in the sequence ?
https://github.com/GCCR/GCCR.github.io/blob/3a66cd693c7ed858f3e838be183e96519a19f71b/surveys/index.html#L46

Also, can I go ahead and replace the sequence by just the "Hello" messages (without the "Select your language") and the "Have you had a respiratory illness of any kind recently? Willing to share a

[2020-06-22 11:37] kwcooper commented on #23
I think we nailed it

[2020-06-22 11:37] #23 closed

[2020-06-22 11:43] #15 closed

[2020-06-22 11:48] #25 closed

[2020-06-22 11:49] #26 closed

[2020-06-22 11:51] kwcooper commented on #9
This can be handled by a previous issue

[2020-06-22 11:51] #9 closed

[2020-06-30 17:48] mariaveldhuizen commented on #27
oh god, i think i never saw this.
Yes, i absolutely think we need to have separate contact forms on each page or something along those lines.

And no contact form on the "join" page because people keep missing the actual membership form.

[2020-06-30 17:52] mariaveldhuizen commented on #24
Not yet, and I doubt I'll get around to it, but I'm going to find some folks for it.

[2021-03-21 19:35] mariaveldhuizen opened #36 "new webpage section for published papers"
We would like a new main menu item called "publications" and there we will link to the paper, and osf page or other page with open materials. I'm creating a google form with the titles, links etc.

[2021-03-21 19:39] mariaveldhuizen opened #37 "on the English language page for the various studies...."
Instead of the radiobutton list, we figured that this would work better and make it easier for potential participants to choose the right study:
![Screen Shot 2021-02-24 at 10 54 47 AM](https://user-images.githubusercontent.com/41241688/111918439-15c6a700-8a96-11eb-87c5-e3543e3fcb9b.png)

Do you think this can be incorporated?

I'm copying the text from leadership team below:

Hi all, a few of us

[2021-03-21 19:43] mariaveldhuizen opened #38 "Main menu item: newsletters (embedded?)"
Hi, Stephanie has been creating regular newsletter, and we want to show these on our webpage too. We could just include links, or perhaps embed them?

What's possible?

They are currently hosted on substack, so as long as we have public links, is this possible? If so, I'll create a google sheet where we can add new links as new newslettters are published, so the webpage updates automatically?

Wou

[2021-03-23 09:39] mariaveldhuizen commented on #36
https://docs.google.com/spreadsheets/d/1pl_NM19DsroHBMYK5WrIcZygLYw8kevbwYZ_CTTl8Ek/edit?usp=sharing

[2021-03-23 09:40] mariaveldhuizen commented on #38
https://docs.google.com/spreadsheets/d/13GyUMZDQH7o3GnZ7TRc4dzWQxILzw2pZ9PD6bzNsPRg/edit?usp=sharing

[2021-04-22 22:20] mariaveldhuizen commented on #37
here are the icons I designed for the last 3 columns. Maybe the "focus" column can also be captured in icons, if you have ideas, let me know. they are all 100 px x 100 px. I would love to see a draft of the table with icons and "hover" information as supplied in image above. How would you like me to supply the separate icons?
![icons](https://user-images.githubusercontent.com/41241688/115791991-25

[2021-05-28 08:10] mariaveldhuizen commented on #36
@kwcooper I populated the fields in that document (https://docs.google.com/spreadsheets/d/1pl_NM19DsroHBMYK5WrIcZygLYw8kevbwYZ_CTTl8Ek/edit?usp=sharing). With this, can you create a page for our publication, pretty much just like the one you have on your webpage? The last column is something I hope to implement in the future, a tab with a "plain language summary", maybe useful to anticipate. I'm n

[2021-06-06 12:34] kwcooper commented on #36
I built the first draft of the publications page and the backend logic to generate each pub entry. Take a look here and let me know what you think https://gcchemosensr.org/pubs/ @cbouy @mariaveldhuizen It'd be great if you could test it a bit on your devices, to make sure everything is working okay. It should look something like this on your screen:

![Screenshot from 2021-06-06 05-09-48](https://

[2021-06-06 12:37] kwcooper commented on #27
While I'm revisiting the issues, did you ever hear back from the LT on this @mariaveldhuizen?

[2021-06-06 13:25] cbouy commented on #36
Looking good! Just a few comments:

- In commit [b0aa4db](https://github.com/GCCR/GCCR.github.io/commit/b0aa4dbc24531013b16128892b6594081ed9eb4c) you included all the binaries and libraries in the `vendors` directory which I guess are necessary to run the website locally, but it's note really needed for github pages to build. Could you remove them and add a `vendor/` entry to the `.gitignore` file

[2021-06-07 20:45] mariaveldhuizen commented on #36
Looks great in Chrome and on Iphone. I can check with android device tomorrow if you want. I can totally deal with the YAML file. So the google sheet will not be used? @kwcooper @

[2021-06-09 14:23] kwcooper commented on #36
Thanks for the comments folks! Super helpful, especially the adblock tip in french haha. I think I got most of @cbouy's suggestions. I can't remove that pesky JS line as the favecon breaks without it it seems. When we have more time we can investigate. Not sure what is up with the random vendors folder. But I added it to the gitignore.  The size of the image is set in CSS, but you're right they co

[2021-06-09 14:25] kwcooper commented on #36
Speaking of other tabs. Authors, press links, citations, metrics, etc come to mind. It's pretty bare bones for now. I don't think any of these will be paywalled since they're covid papers, but we may consider hosting the PDF's on github if needed too

[2021-06-09 23:27] cbouy commented on #36
I actually messed up and you indeed need quotes in the YAML file otherwise if the text contains ":" it will break... My bad
I fixed the remaining issue with the vendor directory. Also I don't see any issue with the favicon on my side, maybe it was a caching issue from your browser?
Good job!

[2021-06-23 09:14] #37 closed

[2021-10-11 15:20] kwcooper commented on #36
I'll close this for now, we can make a new issue if we want any updates. Thanks folks!

[2021-10-11 15:23] kwcooper commented on #18
FYI, I started putting my initials as a comment on some of the pages. Github commits will track who makes updates.
As the site grows however, the footer idea may make more sense, as to which we can re-open this or make a new issue.

[2021-10-11 15:26] kwcooper commented on #12
We may soon want to start thinking about re-branding away from COVID-19 imagery, (at the least) to grow GCCR beyond it's COVID-19 roots. (Instead of a giant virus in the header, perhaps someone smelling, or eating or... sky's the limit). When / if this happens, we can make some of the other more aesthetic changes.  Any thought's @mariaveldhuizen or @cbouy ?

[2021-10-11 15:27] kwcooper commented on #24
It would be really cool to have a blog up and running, if we can find volunteers. Please let me know if there's any renewed interest in this @mariaveldhuizen, but for now I'll close this.

[2021-10-11 15:27] #24 closed

[2021-10-11 15:32] cbouy commented on #12
I agree on this one, less big scary virus would be better 😄

[2021-10-11 15:42] kwcooper opened #54 "Zotero script timeouts"
@cbouy Occasionally the Zotero script posts a timeout error, which breaks a bit of the build process.

Not a big deal, and either could be due to too many commits in rapid secession (not sure what their API call limit is) or just some server error during the handshake. In any case, it may be worth keeping in the back of our heads.

Perhaps putting non-essental calls in a try/except statement so th

[2022-05-24 10:11] kwcooper commented on #54
I think I fixed this...

[2022-05-24 10:11] #54 closed

[2022-05-27 13:38] kwcooper opened #64 "Publications page"
- [ ] Add additional PLS's
- [x] Change tab names (info -> ?; Abstract -> Journal abstract)
- [ ] Add missing publication images

[2022-05-27 13:45] kwcooper opened #65 "Failed builds?"
@cbouy Hi! Do you have any ideas on why our build keeps failing? I think it has to do with the gem / ruby versions, but things seemed okay when I looked through them

[2022-05-27 13:51] kwcooper commented on #64
.

[2022-05-29 17:35] cbouy commented on #65
Hey @kwcooper! Is there a reason why we have [3 different build workflows](https://github.com/GCCR/GCCR.github.io/actions)?

AFAIK the "Build and deploy Jekyll site to GitHub Pages" is the one that I setup to run our custom Python scripts for generating the members map and so on, so it's probably the one we need to keep.

[2022-05-31 20:29] kwcooper commented on #65
No clue. I had to fix a broken python package once in the workflow, maybe I accidentally duplicated it. Would you mind removing all but yours?

I don't think that will fix the ruby issues though

[2022-05-31 21:25] cbouy commented on #65
No worries I'll investigate and try to freshen the dependencies up a bit so hopefully we don't have to merge those security updates every week

[2022-06-01 02:04] kwcooper commented on #65
Awesome! Thank you! Please let me know if there's anything I can do on my end!

[2022-06-05 00:02] kwcooper commented on #65
@cbouy it didn't quite work... an issue with the environment, see the failed build in actions.

`Failed to execute ["bash","-c","micromamba create -n gccr --strict-channel-priority -y -f /home/runner/work/GCCR.github.io/GCCR.github.io/_scripts/environment.yml"]`

[2022-06-05 00:33] cbouy commented on #65
Looks like I was a bit too strict on dependencies, I made some changes which fixed the environment but now there seem to be another error in the scripts themselves (and it's a weird one)... I'll have a closer look tomorrow

[2022-06-05 00:58] cbouy commented on #65
Fixed!

[2022-06-05 00:58] #65 closed

[2022-06-05 02:15] kwcooper commented on #65
Thanks!

[2022-07-19 21:09] kwcooper commented on #12
#[2dd25e6](https://github.com/GCCR/GCCR.github.io/commit/2dd25e69f5f17c65086d2ce3e38231292c30f975) closes (thanks all!)

[2022-07-19 21:09] #12 closed

[2022-10-11 06:54] cbouy commented on #65
I'll try to have a look this weekend

Le ven. 27 mai 2022 à 14:46, Keiland ***@***.***> a écrit :